In [ ]:
import pandas as pd
import numpy as np
import requests

In [ ]:
df = pd.read_csv('train_with_sarcasm.csv')
df.head()

   Unnamed: 0  ... sarcasm_labels
0           0  ...        regular
1           1  ...        regular
2           2  ...        regular
3           3  ...        regular
4           4  ...        regular

[5 rows x 7 columns]

In [ ]:
API_KEY = "3ejJ94lwvxK43"

In [ ]:
def findPolarity(tweet):
  url = "https://sentic.net/api/en/" + API_KEY + ".py?sentence=" + tweet
  response = requests.get(url)
  return response.text

In [ ]:
df['polarity'] = df.apply(lambda row : findPolarity(row['content']), axis = 1)

In [ ]:
df.head()

   Unnamed: 0  ...    polarity
0           0  ...  POSITIVE\n
1           1  ...  POSITIVE\n
2           2  ...  POSITIVE\n
3           3  ...  POSITIVE\n
4           4  ...  NEGATIVE\n

[5 rows x 8 columns]

In [ ]:
df.to_csv("train_polarity_sarcasm.csv")